modules = ["nodejs-20"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 39644297
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm run build"]
